* {
  margin: 0;
  padding: 0;
}

body {
  font-size: .14rem;
  color: #333;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

html,
body {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  position: relative;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
